<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853812438928-2tl812dcap611o1rot1ol44dnpakh7ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853812438928-2tl812dcap611o1rot1ol44dnpakh7ns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853812438928-eiat8kq2v33pk2ooiv6g87a6v9guin06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0ShILR7rKD5Dn3qtOgs7WE3Qjy0fQN0g</string>
	<key>GCM_SENDER_ID</key>
	<string>853812438928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leafybitcoin.leafy</string>
	<key>PROJECT_ID</key>
	<string>leafy-20346</string>
	<key>STORAGE_BUCKET</key>
	<string>leafy-20346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853812438928:ios:4aa938579894cc477fb515</string>
</dict>
</plist>