target/
.DS_Store
.DS_Store/
.idea/
*.*~
frontend/android/app/libs/
resources/dev/
frontend/ios/GoogleService-Info.plist
frontend/ios/Runner/GoogleService-Info.plist
frontend/android/app/google-services.json
frontend/lib/firebase_options.dart